<header>
    <h1><a routerLink="">Trier Dev Tools</a></h1>
</header>
<aside>
    <nav class="menu">
        <a routerLink='/home' class="menu-link" routerLinkActive="menu-link-ativo">Home</a>
        <a routerLink='/scrum' class="menu-link" routerLinkActive="menu-link-ativo">Scrum</a>
    </nav>
</aside>
<main>
    <router-outlet></router-outlet>
</main>
<footer></footer>