header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: topo;
    padding-left: 15px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
}

aside {
    grid-area: lateral;
    margin: 0 10px;
    background-color: var(--grafite);
    border: var(--default-border);
    border-color: var(--primary-color);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

main {
    grid-area: conteudo;
    padding: 20px;
    margin: 0 10px;
    overflow: auto;
}

footer {
    grid-area: rodape;
    margin-top: 15px;
    background-color: var(--primary-color);
}

.menu {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link-ativo {
    background-color: var(--primary-color);
}