<div class="scrum">
  <div *ngIf="showCards" class="cards">
    <div *ngFor="let card of cards" class="card" (click)="selectCard(card)">
      <span>{{card.number}}</span>
    </div>
  </div>
  <div class="big-card" *ngIf="!showCards" (click)="backToCards()">
    <span>{{selectedCard.number}}</span>
  </div>
</div>