.scrum {
    height: 100%;
}

.cards {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 0.5em;
    font-size: 1.5em;
}

.card, .big-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
    border: var(--default-border);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    cursor: pointer;
}

.big-card {
    height: 100%;
    font-size: 7em;
}