 :root {
    --primary-color: #4caf50;
    --grafite: #333;
    --cream: #ececec;
    --border-style: 2px solid;
    --default-border: var(--border-style) var(--grafite);
}

html, body, app-root {
    height: 100%;
    margin: 0;
    user-select: none;
}

body, app-root {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--grafite);
}

app-root {
    max-width: 480px;
    display: grid;
    grid-template-rows: 70px 35px auto 50px;
    grid-template-areas:
        'topo topo'
        'lateral lateral'
        'conteudo conteudo'
        'rodape rodape'
    ;
    border-right: var(--default-border);
    border-left: var(--default-border);
    border-color: var(--primary-color);
}

a, span, h1 {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 700;
}

a {
    color: var(--cream);
    text-decoration: none;
}